

<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="#">My site</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="right">
            {% for item in items %}
                <li class="divider"></li>
                <li  class="item">
                    <a href="{{ path('cms_frontend_content_show', {id: item.id}) }}">
                    {{ item.title }}
                    </a>
                </li>
            {% endfor %}
         </ul>
    </section>
</nav>