<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <h3>Menu</h3>
        {{ render(controller('CMSFrontendBundle:Menu:index')) }}


        {% block page_title %}{% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}

            <script src="{{ asset('js/generated/foundation.js') }}"></script>

            <script type="text/javascript">
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
